


.card-body {
 background-color: #B8B09E;
 padding-top: 5rem;
 padding-bottom: 5rem;
}

.card-body-1 {
  background-color: #B8B09E;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  text-align: center;


}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item-r img {
  width: 55px;
  height: auto;
}

.nav-item-r {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;

}

h1 {
  font-family: 'Fahkwang', sans-serif;
}

h2 {
  font-family: 'Fahkwang', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

h3 {
  font-family: 'Fahkwang', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}


hr {
  width: 30%;
  margin-left: .5rem;
  margin-right: auto;
}

.card-text {
  display: flex;
  justify-content: center;
  text-decoration-color: black;
}

a {
 font-family: 'Fahkwang', sans-serif;
 font-weight: bold;
}

a:link {
  text-decoration: none;
}


.shop {
  display: flex;
  justify-content: center;
  align-self: auto;
}


.card {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-d {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top:3rem;
  margin-bottom: 3rem;
}



.card-body-member {
  background-color: #B8B09E;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card-text-info {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-title-info {
font-family: 'Fahkwang', sans-serif;
display: flex;
justify-content: center;
align-content: center;
}

.col-md-4 {
padding-top: 9rem;

}

.social-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.row-f {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  color: #3F9915;

}

@media (min-width: 1025px) {
.h-custom {
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}


.order-card {
  width: 50%;
  background-color: #f1f1f1;
  margin: 3rem;
}


.card-header {
  background-color: #B8B09E;
  font-family: 'Fahkwang', sans-serif;
}
.order-card-body {
  padding-bottom: 1rem;
  padding-left: 1rem
}

.order-card-title {
   padding-top: 1rem;
   padding-bottom: 1rem;

}

.order-card-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


}
